<video id="video_{{idx}}" class="video-js vjs-default-skin" style=" border-color: aqua;"></video>
<ion-button *ngIf="camapaOpen && camOpen"  (click)="onClick()" class="buttonIngresar" expand="block" fill="clear" shape="round">
  play
</ion-button>
<ion-button *ngIf="camaraClose"  (click)="openCam()" class="buttonIngresar" expand="block" fill="clear" shape="round">
  Abrir
</ion-button>

<ion-button *ngIf="returnVideo"   (click)="recor()" class="buttonIngresar" expand="block" fill="clear" shape="round">
  Regresar
</ion-button>
<ion-row *ngIf="finishVideo" >
<ion-col size="12">
    <ion-row class="User_Label_Section">
      <ion-col text-center>
        <ion-label color="dark" class="label" (click)="pb()">
            <ion-icon name="checkmark-circle-outline" color="dark label " style="font-size: 30px;"></ion-icon
                ></ion-label>
        <ion-label color="success" class="label">  Finalizar </ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

