<ion-header>
    <ion-toolbar>
        <ion-img class="icon" slot="end" src="/assets/alianza.png"></ion-img>
        <ion-title class="fw-normal text-light">Bienvenido</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="m-4">
        <ion-img class=" m-auto" src="https://techreo.mx/newslatter/assets/banner-password.svg"></ion-img>

        <h1 class="mt-0" style="color: #00BFB2;">Techreo</h1>
        <div class="text-secondary mt-3">
            <p>Abre tu cuenta, ahorra para tu próximo viaje, paga servicios, recibe pagos.</p>
            <p>No vayas de una app a otra. Realiza todos tus movimientos en un sólo lugar.</p>
        </div>

    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" href="whatsapp://send?text=https://player.vimeo.com/video/718727273?h=190facbe50" data-action="share/whatsapp/share" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="grid-space">

        <div *ngFor="let card of cards" class="grid-element">
          <ion-card class="card" (click)="goSection(card)">
                <ion-col class="ion-text-center" size="12">
                  <p style="text-align: center; " class="text-card">{{card.title}}</p>
                  <img style="width: 35%; height: 45%;" src="{{card.img}}" alt="image-card">
                </ion-col>
          </ion-card>
    
        </div>
    
      </div>

      
      <ion-img class="w-50 mt-5 m-auto mn-5" src="/assets/logo-pal-negocio.png"></ion-img>
      <ion-img class="w-50 mt-5 m-auto mn-5" src="/assets/logo-inversion.png"></ion-img>

    <br><br>
    <p class="m-3 text-secondary mt-4">Url = {{urlPath}}.</p>
    <p class="m-3 text-secondary mt-4">Cordenadas = {{geo | json}}.</p>
</ion-content>