<ion-header>
    <ion-toolbar>
        <ion-img class="icon" slot="end" src="/assets/alianza.png"></ion-img>
        <ion-title class="fw-normal text-light">Bienvenido</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="m-4">
        <div style="background-color: #472B74;" class="p-3 rounded-pill mt-5">
            <ion-img class="w-50 m-auto" src="/assets/logo-techreo-blanco.png"></ion-img>
        </div>
        <h1 class="mt-5" style="color: #00BFB2;">Techreo</h1>
        <div class="text-secondary mt-3">
            <p>Abre tu cuenta, ahorra para tu próximo viaje, paga servicios, recibe pagos.</p>
            <p>No vayas de una app a otra. Realiza todos tus movimientos en un sólo lugar.</p>
        </div>
        <ion-img class="w-50 mt-5 m-auto mn-5" src="/assets/logo-pal-negocio.png"></ion-img>
        <ion-img class="w-50 mt-5 m-auto mn-5" src="/assets/logo-inversion.png"></ion-img>
    </div>

</ion-content>