<ion-header>
    <ion-toolbar>
        <ion-img class="icon" slot="end" src="/assets/alianza.png"></ion-img>
        <ion-title class="fw-normal text-light">Bienvenido</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="m-4">
        <ion-button (click)="onClick()" expand="block" shape="round" color="tertiary">
            Navegar Url appHome
        </ion-button>
        <br>

        <ion-img class=" m-auto" src="https://techreo.mx/newslatter/assets/banner-password.svg"></ion-img>

        <h1 class="mt-5" style="color: #00BFB2;">Techreo</h1>
        <div class="text-secondary mt-3">
            <p>Abre tu cuenta, ahorra para tu próximo viaje, paga servicios, recibe pagos.</p>
            <p>No vayas de una app a otra. Realiza todos tus movimientos en un sólo lugar.</p>
        </div>

        <ion-img class="w-50 mt-5 m-auto mn-5" src="/assets/logo-pal-negocio.png"></ion-img>
        <ion-img class="w-50 mt-5 m-auto mn-5" src="/assets/logo-inversion.png"></ion-img>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" href="whatsapp://send?text=https://player.vimeo.com/video/718727273?h=190facbe50" data-action="share/whatsapp/share" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <br><br>
    <p class="m-3 text-secondary mt-4">Url = {{urlPath}}.</p>
</ion-content>