<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button (click)="openhome()">
            <ion-icon class="text-white" name="home"></ion-icon>
            <ion-label class="text-white">Home</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openTab1()">
            <ion-icon class="text-white" name="camera"></ion-icon>
            <ion-label class="text-white">Cámara</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openTab2()">
            <ion-icon class="text-white" name="navigate"></ion-icon>
            <ion-label class="text-white">GPS</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openTab3()">
            <ion-icon class="text-white" name="document"></ion-icon>
            <ion-label class="text-white">PDF</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openTab5()">
            <ion-icon class="text-white" name="accessibility"></ion-icon>
            <ion-label class="text-white">MetaMap</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>