<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="text-light text-center">
            Geolocalización
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="m-4 text-center">

        <ion-button (click)="onClick()" expand="block" shape="round" color="tertiary">
            Navegar Url appHome
        </ion-button>
        <br>

        <div class="container" style="color: #00BFB2;">
            <div class="mt-3 text-center">
                <p><strong>Latitud: </strong>{{latitude}}</p>
                <p><strong>Longitud: </strong>{{longitude}}</p>
            </div>

            <ion-button color="success" class="mt-4 mb-5" expand="block" (click)="getLocation()">Obtener Localización</ion-button>
        </div>

        <p class="m-3 text-secondary mt-4">Url = {{urlPath}}.</p>

    </div>

</ion-content>