<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="text-light text-center">
            Geolocalización
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container" style="color: #00BFB2;">
        <div class="mt-5 text-center">
            <p><strong>Latitud: </strong>{{latitude}}</p>
            <p><strong>Longitud: </strong>{{longitude}}</p>
        </div>

        <ion-button color="success" class="mt-4 mb-5" expand="block" (click)="getLocation()">Obtener Localización</ion-button>
    </div>

</ion-content>