<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="text-light text-center">
            Cámara
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="m-5">
        <ion-tab-button (click)="openCamera()">
            <ion-img class="icon mb-3" src="/assets/como-icono-captura.png"></ion-img>
            <ion-label style="color: #00BFB2;">
                <h1>Tomar Foto</h1>
            </ion-label>
        </ion-tab-button>
        <div class="mt-5 p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
            <img *ngIf="image;else other_img" [src]="image" onerror="this.src='assets/no-image-available.png'" />
            <ng-template #other_img>
                <h1 class="text-center text-secondary">-Aquí aparecerá
                    <br> tu foto-</h1>
            </ng-template>
        </div>
        <ion-button class="mb-4" color="tertiary" expand="block" (click)="initializePermissions()">Ver Permisos</ion-button>
    </div>
</ion-content>