<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="text-light text-center">
            Cámara
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <p class="m-3 text-secondary mt-4">Opciones para tomar foto, vídeo o subir tu imagen.</p>
    <div class="w-50 pb-1 pt-1 mt-4 m-3 rounded-top" style="background: #00BFB2;">
        <p class="m-2 text-light text-center">Sube tu imagen</p>
    </div>
    <div class="m-4">
        <p class="text-center text-muted mb-4">Elige el método para subir tu imagen</p>
        <div class="text-center">
            <div class="mt-2">
                <label type="button" class="btn btn-info" (click)="openCamera()">
                    <ion-icon name="camera" class="text-light"></ion-icon>
                <span class="m-4 text-light">Tomar Foto</span>
                </label>
            </div>

            <div>
                <input id="image-file-input" class=" opacity-0 invisible pointer-events-none" type="file" [multiple]="false" [accept]="'image/jpeg, image/png'" (change)="uploadImage(imageFileInput.files)" #imageFileInput>
                <label type="button" class="btn btn-info" for="image-file-input" matRipple>
                    <ion-icon name="images" class="text-light"></ion-icon>
                <span class="m-3 text-light">Subir Imagen</span>
                </label>
            </div>
        </div>
        <div class="mt-5 p-3">
            <img *ngIf="image;else other_img" [src]="image" onerror="this.src='assets/no-image-available.png'" />
            <ng-template #other_img>
                <img src="assets/subir-img.png" onerror="this.src='assets/no-image-available.png'" />
            </ng-template>
        </div>
    </div>



    <div style="background: rgb(255, 255, 255);">
        <ion-row class="text-center" style="background: rgb(255, 255, 255); ">
            <ion-col size="12" class="ion-padding">
                <ion-row class="User_Label_Section">
                    <ion-col text-center>
                        <div class="w-50 pb-1 pt-1 mt-4 m-3 rounded-top" style="background: #00BFB2;">
                            <p class="m-2 text-light text-center">Tome Vìdeo</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <br><br>
            <ion-col size="1">
            </ion-col>
            <ion-col size="10">
                <videojs-record [idx]="1" (formData)="onDataResponse($event)"></videojs-record>
            </ion-col>
        </ion-row>
    </div>
    <br><br>
</ion-content>