<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="text-light text-center">
            PDF
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <!-- <ion-item>
        <ion-input [(ngModel)]="downloadUrl"></ion-input>
    </ion-item>-->

    <ion-textarea *ngIf="openerBtn == false" [(ngModel)]="url" placeholder="Enter download URL"></ion-textarea>


    <div class="container mt-5">
        <ion-button *ngIf="openerBtn == false" class="mb-4" color="tertiary" expand="block" (click)="downloadFile()" [disabled]="url ==''">Descargar por URL</ion-button>

        <ion-button *ngIf="openerBtn == true" class="mb-4" color="tertiary" expand="block" (click)="openFile()">Abrir Documento</ion-button>

        <!-- <ion-button class="mb-4" color="tertiary" expand="block" (click)="downloadFile()" [disabled]="downloadUrl ==''">Descargar por URL</ion-button>
        <ion-button class="mb-4" color="tertiary" expand="block" (click)="downloadFile(pdfUrl)">Descargar PDF</ion-button>-->
    </div>

    <!-- <ion-list>
        <ion-item-sliding *ngFor="let f of myFiles">
            <ion-item (click)="openFile(f)" tappable>
                <ion-label class="ion-text-wrap">
                    {{f}}
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>>-->

</ion-content>